.card:hover img{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}

.card {
    border-radius: 1.25rem;
}

.card-mainDiv{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.card img{
    transform: scale(1.0,1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;

}
.card-img-wrapper{
    overflow: hidden;
    position: relative;
}

.member-icons{
    position:absolute;
    bottom: -30%;
    left:0;
    right:0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0; 

}
.card-img-wrapper:hover .member-icons{
bottom: 0;
opacity:1;
}

.animate{
    transition:all 0.3s ease-in-out;
}


.card-img, .card-img-top {
    border-top-left-radius: calc(1.25rem - 1px);
    border-top-right-radius: calc(1.25rem - 1px);
}