<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
   
  <div class="container">
    <a class="navbar-brand" routerLink="/">Dating App</a>
    <button class="navbar-toggler" type="button"
     data-toggle="collapse" data-target="#navbarCollapse" 
     aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0" >
        <ng-container *ngIf="account.currentUser$ | async"> 
          <li class="nav-item ">
            <a class="nav-link" aria-current="page" routerLink="members" routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
        </li>
       
      </ul>
      <div class="dropdown navbar-right" style="margin-left:250px" *ngIf="(account.currentUser$ | async) as user" dropdown>
        <img class="navUserImage" src="{{user.photoUrl}}" alt="{{user.userName}}">
        <a  class="dropdown-toggle text-light ml-3" dropdownToggle aria-controls="dropdown-basic">
              Welcome {{user.userName}}
           <span class="caret"></span>
                    </a>
        
        <ul id="dropdown-basic mt-3" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
            
          <li role="menuitem">
            <a routerLink="/member/edit" class="dropdown-item" href="#">Edit Profile</a></li>
        
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#" (click)="logout()" >Logout</a>
          </li>
        </ul>
      </div>
      <form *ngIf="(account.currentUser$ | async)==null" #loginforms="ngForm" class="form-inline navbar-right" style="margin-left:250px" (ngSubmit)="login()"
      autocomplete="true">
        <input 
        name="userName"
        [(ngModel)]="model.userName"
        class="form-control me-2" 
        type="input" 
        placeholder="Email" >
        <input 
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
         type="password"
          placeholder="Password" >
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>