<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
   
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>
    <button class="navbar-toggler" type="button"
     data-toggle="collapse" data-target="#navbarCollapse" 
     aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="account.currentUser$ | async">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="#">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" >Messages</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()" >Logout</a>
        </li> -->
      </ul>
      <div class="dropdown navbar-right" style="margin-left:250px" *ngIf="account.currentUser$ | async" dropdown>
        <a  class="dropdown-toggle text-light" dropdownToggle aria-controls="dropdown-basic">
          Welcome User <span class="caret"></span>
                    </a>
        
        <ul id="dropdown-basic mt-3" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Edit Profile</a></li>
        
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#" (click)="logout()" >Logout</a>
          </li>
        </ul>
      </div>
      <form *ngIf="(account.currentUser$ | async)==null" #loginforms="ngForm" class="form-inline navbar-right" style="margin-left:250px" (ngSubmit)="login()"
      autocomplete="true">
        <input 
        name="userName"
        [(ngModel)]="model.userName"
        class="form-control me-2" 
        type="input" 
        placeholder="Email" >
        <input 
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
         type="password"
          placeholder="Password" >
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>